doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="assets/style.css")
        link(rel="apple-touch-icon", sizes="180x180", href="images/fav/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="images/fav/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="images/fav/favicon-16x16.png")
        link(rel="manifest", href="images/fav/site.webmanifest")
        title Corp Insider Leaks
    body
        .wrapper
            h1.hidden Corp Insider Leaks
            .logo
                //- img.logo-over(src="images/logo.webp" alt="")
                img(src="images/logo.webp" alt="")
                
            main.content
                section.content__info
                    .content__img
                        img(src="images/buildings.webp" alt="buildings")
                    .content__posts
                        .line-post
                        ul.block__list
                            li.block__item.uploaded.uploaded--0
                                include post
                            li.block__item.uploaded.uploaded--1
                                include post
                            li.block__item.uploaded.uploaded--2
                                include post
                            li.block__item.uploaded.uploaded--3
                                include post
                            li.block__item.uploaded.uploaded--4
                                include post
                            li.block__item.uploaded.uploaded--0
                                include post
                                
                        ul.pagination.pagination__list
                            li.pagination__item
                                a.pagination__link(href="#") <<
                            li.pagination__item
                                a.pagination__link(href="#") <
                            li.pagination__item
                                a.pagination__link.active(href="#") 1
                            li.pagination__item
                                a.pagination__link(href="#") 2
                            li.pagination__item
                                a.pagination__link(href="#") 3
                            li.pagination__item
                                a.pagination__link(href="#") ...
                            li.pagination__item
                                a.pagination__link(href="#") 12
                            li.pagination__item
                                a.pagination__link(href="#") ...
                            li.pagination__item
                                a.pagination__link(href="#") 122
                            li.pagination__item
                                a.pagination__link(href="#") >
                            li.pagination__item
                                a.pagination__link(href="") >>

                section.content__taxonomy
                    .taxonomy
                        .taxonomy__title
                            h2 Tags
                        ul.taxonomy__list
                            -let tax='Tag' 
                            -let tax_i=1
                            while tax_i < 8
                                li.taxonomy__item
                                    a.taxonomy__link(href="#") tag #{tax_i++}
                    .taxonomy
                        .taxonomy__title
                            h2 Categories
                        ul.taxonomy__list
                            -let tax2='Category' 
                            -let tax2_i=1
                            while tax2_i < 8
                                li.taxonomy__item
                                    a.taxonomy__link(href="#") Category #{tax2_i++}
                    .taxonomy
                        .taxonomy__title
                            h2 Recents
                        ul.taxonomy__list
                            -let tax3='Category' 
                            -let tax3_i=1
                            while tax3_i < 8
                                li.taxonomy__item
                                    a.taxonomy__link(href="#") Category #{tax3_i++}
                    .processor
                        .processor__images
                            img.processor__image.processor__image--glow(src="images/proc-glow.webp", alt="processor")
                            img.processor__image(src="images/proc.webp", alt="processor")

            canvas(id="c")
    script(src="assets/scripts.min.js")
    