a(href="#").post
    .post__data
        .post__date 08/10/2022
        .post__name Name of Article
        .post__upload
            //- .upload
            //-     .upload__value
            .upload__stat
                p
                    span 46% uploaded now... 
                p next 09/10/2022
        .post__info 
            p Views:
                span 223
            p Downloads:
                span 22
    .post__thumbnail
        img(src="images/post-thumbnail.webp", alt="post-thumbnail-name")
