.single__block.uploaded--3
    img.single__close(src="images/single-close.webp" alt="close")
    img.single__nav.single__nav--prev(src="images/single-prev.webp" alt="previous post")
    img.single__nav.single__nav--next(src="images/single-next.webp" alt="next post")
    .single__screen.screen
        .screen__info
            .screen__block
                .screen__row
                    p 08/10/2022
                    p.gray Money
                .screen__row
                    p Zerouno
                    p #Italia
            .screen__block
                .screen__row
                    p.gray Next release: ALL-IN<br> Now 100% of the data has been published <br><br> Views: <span>223</span><br> Downloads: <span>22</span>
                    img.post-thumbnail-single(src="images/post-thumbnail.webp", alt="post-thumbnail")
                hr
                h2 About Zerouno Srl
                p Zerouno is a business accelerator for companies in any industry and market because it dominates the enabling technology factor. In fact, it develops tailor-made IT solutions, capable of effectively adapting to the needs of the customer.
                table 
                    tr
                        td Company Name
                        td Zerouno Srl
                    tr
                        td Website 
                        td https://www.zerouno.it
                    tr
                        td Headquarters 
                        td Via Moncenisio 75, Rozzano, Lombardy, 20089, Italy
                    tr
                        td Phone Number 
                        td +39 02 3790 2300

                h2 Published files:
                p Zerouno is a business accelerator for companies in any industry and market because it dominates the enabling technology factor. In fact, it develops tailor-made IT solutions, capable of effectively adapting to the needs of the customer.
                table 
                    td Name
                    td Size
                    td URL
                    tr
                        td Zerouno 
                        td 458GB
                        td Ka-bam – direct linkage to the DATA 