*
    padding: 0
    margin: 0
    box-sizing: border-box

// fonts
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap')
@font-face
    font-family: 'Digital'
    font-style: normal
    font-weight: normal
    src: local('digital-7.woff'), url('fonts/digital-7.woff') format('woff')

ul
    list-style: none
a
    text-decoration: none

.hidden
    display: none

// MIXINS
@mixin bgimage()
    background-image: url(../images/pcb-bg.webp)
    background-size: 1780px
    background-repeat: repeat-x
    background-position: center bottom

::selection
    color: #50ff3b
    background: green

$p-m: 60px
$font-title: 'Russo One', sans-serif
$font-text: 'Nunito Sans', sans-serif
$wide: 1440px
$itemW: 299px*1.3
$itemH: 170px*1.3
// COLORS
$bright: #dfe9dd
$bright-green: #50ff3b
$green: #16410e
$gray: #cdcdcd

body
    font-family: $font-text
    font-size: 1rem
    box-sizing: border-box
    margin: 0 auto
    background: black
    height: 100%

hr
    border: none
    border-bottom: 2px solid green
    margin: 20px auto

h2 
    font-weight: 400
    margin-bottom: 10px

p
    line-height: 1.2

// PLACEHOLDERS
%transition
    transition: 0.25s ease-in-out
%transition-slow
    transition: 1s ease-in-out
%hover
    color: lighten($green, 20%)
%glow
    filter: drop-shadow(0 0 5px #90ff717c)
%pseudo-symbols
    content: ""
    display: block
    position: absolute
    width: 5px
    height: 100%
    top: 0
    
.wrapper
    position: relative
    overflow: hidden
    &:after
        @extend %pseudo-symbols
        top: auto
        bottom: 0
        left: 0
        width: 100%
        height: 45%
            

section
    padding: 60px
    max-width: $wide
    margin: 0 auto
    @media screen and ( max-width: 1000px )
        padding: 20px

$logo-size: 400px   
.logo
    width: 450px
    margin: 20px auto 0 auto
    box-sizing: border-box
    display: flex
    align-items: center
    justify-content: center
    @media screen and (max-width: 570px)
        width: 80%
    img
        pointer-events: none
        width: $logo-size
        mix-blend-mode: plus-lighter
        @media screen and (max-width: 570px)
        width: 100%
        opacity: 0.8

// .separator 
//     background: black url(../images/separator.webp)
//     background-repeat: repeat-x
//     background-size: contain
//     background-position: center
//     height: 30px
//     width: 100%
//     position: relative
//     z-index:2

.line-post
    height: 120px
    width: 100%
    background-image: url(../images/line-post-header.webp)
    background-repeat: no-repeat
    background-position: top
    background-size: cover
    position: absolute

.content
    margin: 0 auto
    height: auto
    @media screen and ( min-width: 1000px )
        @include bgimage()
        background-size: 1575px

.content__posts
    display: flex
    align-items: center
    flex-direction: column
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    position: relative
    z-index: 2
    transition: opacity 1s ease-in-out
    @media screen and ( min-width: 870px )
    &::before
        @extend %pseudo-symbols
        width: 1200px
        height: 100%
        background-image: url(../images/microchip.webp)
        background-size: 1186px
        background-repeat: no-repeat
        background-position: right center
        z-index: 0
        left: 8%
        opacity: 0.5
        @media screen and ( max-width: 870px )
            background-size: 80%
            top: -10%
            left: -50px
            width: 100%
            height: 100%
            background-image: url(../images/microchip-mob.webp)
            background-position: center
            opacity: 0.7
        @media screen and ( max-width: 600px )
            background-size: 100%
            top: 5%
            left: -103px
            width: 118%
            height: 100%
            background-image: url(../images/microchip-mob.webp)
            background-position: center
            opacity: 0.7   
    &::after
        @extend %pseudo-symbols
        width: 1000px
        height: 800px
        background-color: black
        top: -46px
        right: -125px
        z-index: -1
        filter: blur(58px)
        @media screen and ( max-width: 870px )
            height: 100%
            
.content__img
    display: flex
    align-items: flex-end
    justify-content: center
    position: relative
    z-index:1
    @media screen and (max-width: 1370px)
        margin-bottom: 150px
    &::after
        transition: all 1s ease-in-out
        @extend %pseudo-symbols    
        background: url(../images/wires-anim.gif)
        background-position: bottom
        background-repeat: no-repeat
        left: 60%
        top: -30px
        width: 500px
        z-index: -1
        @media screen and (max-width: 1370px)
            background: url(../images/wires-mob.webp)
            left: 0
            height: 100%
            top: 273px
            background-repeat: no-repeat
            background-size: 225px
            width: 100%
            background-position: center bottom
    &.disconnect
        &::after
            animation: disconnect 2s ease-in-out forwards
            transition: all 2s ease-in-out
            transform-origin: 0 100%
    @media screen and (max-width: 570px)
        width: 100%
    img
        pointer-events: none
        width: 100%
        max-width: 500px
        @media screen and (max-width: 570px)
            width: 80%

@keyframes disconnect
    0%
        background-image: url(../images/wires-anim.gif)
        transform: translateX(0)
    50%
        background-image: url(../images/wires.webp)
        transform: translateX(-50px) 
    100%
        transform: translateX(0)
        background-image: url(../images/wires-anim.gif)

.content__info 
    display: grid
    align-items: start
    grid-template-columns: 40% 1fr
    max-width: $wide
    margin: 0 auto
    @media screen and ( max-width: 870px )
        gap: 20px
    @media screen and ( min-width: 1441px )
        max-width: 1800px
        min-height: 890px
    @media screen and ( max-width: 1370px )
        grid-template-columns: 1fr
        justify-content: center

$single-post-w-desktop: 756px
$single-post-h-desktop: 870px
$single-post-w-mobile: 756px
// OPEN SINGLE POST
.single
    & p
        font-size: 12px
        margin-bottom: 10px
    & .block__list
        display: none
    & .pagination
        display: none
    & .line-post
        display: none
    & .single__post
        transition: transform 2s ease-in-out, opacity 1s ease
        transform: scale(1)
        opacity: 1
        display: block
    & .single__block
        transition: transform 2s ease-in-out, opacity 1s ease
        transform: scale(1)
        opacity: 1
        position: relative
    & table
        width: 100%
        border-collapse: collapse
        margin-bottom: 20px
        td
            font-size: 12px
            border: 4px solid $green
            padding: 6px 4px

.content__posts
    &.single
        &::after
            transition: opacity 0.5s ease-in-out
            opacity: 0
        &::before
            transition: opacity 0.5s ease-in-out
            opacity: 0

/// OPEN SINGLE POST
.block__list
    width: 100%
    margin: 40px auto 0 auto
    display: grid
    grid-template-rows: $itemH $itemH $itemH
    grid-template-columns: $itemW $itemW
    align-items: stretch
    margin-bottom: 40px
    position: relative
    z-index: 1
    transition: transform 1s ease-in-out, opacity 1s ease
    &.faded-posts
        animation: fadeposts 1s ease-in-out forwards
        transition: 0.5s ease-in-out
    &.appeared-posts
        animation: appearedposts 1s ease-in-out forwards
        transition: 0.5s ease-in-out
    @media screen and (max-width:1370px)
        justify-content: center
    @media screen and (max-width:870px)
        grid-template-columns: $itemW
        grid-auto-rows: auto
    @media screen and (min-width:1140px)
        justify-content: center

@keyframes fadeposts
    0%
        opacity: 1
        transform: scale(1)
    99%
        opacity: 0
        transform: scale(0)
    100%
        display: none
        transform: scale(0)

@keyframes appearedposts
    0%
        display: grid
        opacity: 0
        transform: scale(0)
    1%
        display: grid
        opacity: 0
        transform: scale(0)
    100%
        opacity: 1
        transform: scale(1)

.single__screen
    width: 100%
    color: white
    display: flex
    flex-direction: column

.screen__block
    margin-bottom: 20px
.screen__row
    display: flex
    align-items: flex-start
    justify-content: space-between
    & p
        font-size: 1em
        line-height: 150%
    & .gray
        color: #7e7e7e
        margin-bottom: 0

.block__item 
    min-height: 150px
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    background-image: url(../images/item-screen-uncabled-none.webp)
    position: relative
    // INDICATOR
    &::after
        content: ""
        position: absolute
        left: 65px
        bottom: 20px
        height: 9px
        width: 67px
        z-index: 50
        background-size: 98% auto !important
        filter: drop-shadow(0 0 2px green)
    // UPLOADED
    &.uploaded
        &::before
            content: ""
            position: absolute
            background: none
            right: 26px
            top: 10px
            height: 30px
            width: 87px
            z-index: 50
            background-size: contain !important
            filter: drop-shadow(0 0 2px red)
    &.uploaded--0
        &::before
            background: url(../images/item-indicator-red-4.webp)no-repeat
    &.uploaded--1
        &::before
            background: url(../images/item-indicator-red-3.webp)no-repeat
    &.uploaded--2
        &::before
            background: url(../images/item-indicator-red-2.webp)no-repeat
    &.uploaded--3
        &::before
            background: url(../images/item-indicator-red-1.webp)no-repeat
    &.uploaded--4
        &::before
            background: none

    // @keyframes active-dot-appear
    //     0%
    //         opacity: 0
    //         background: transparent
    //     100%
    //         opacity: 1
    //         background: url(../images/dots.gif)no-repeat
            
    &:nth-child(1)
        background-image: url(../images/item-screen-1.webp)
        &::after
            left: 66px
            background: url(../images/dot-1.gif)no-repeat
            @media screen and (max-width:870px)
                left: 65px
                bottom: 18px
    &:nth-child(2)
        background-image: url(../images/item-screen-2.webp)
        &::after
            width: 67px
            height: 8px
            background: url(../images/dot-2.gif)no-repeat
            @media screen and (max-width:870px)
                bottom: 19px
    &:nth-child(3)
        background-image: url(../images/item-screen-3.webp)
        background-size: 101%
        &::after
            width: 68px
            height: 8px
            bottom: 19px
            background: url(../images/dot-3.gif)no-repeat
            @media screen and (max-width:870px)
                bottom: 19px
                left: 63px
    &:nth-child(4)
        background-image: url(../images/item-screen-4.webp)
        &::after
            width: 67px
            height: 7px
            background: url(../images/dot-4.gif)no-repeat
            @media screen and (max-width:870px)
                bottom: 22px
    &:nth-child(5)
        background-image: url(../images/item-screen-5.webp)
        background-position-x: 1px
        &::after
            width: 68px
            height: 7px
            left: 67px
            background: url(../images/dot-5.gif)no-repeat
            @media screen and (max-width:870px)
                height: 9px
                left: 66px
    &:nth-child(6)
        background-image: url(../images/item-screen-6.webp)
        &::after
            width: 67px
            height: 7px
            background: url(../images/dot-6.gif)no-repeat
            @media screen and (max-width:870px)
                height: 9px

    @media screen and ( max-width: 870px )
        background-image: url(../images/item-screen-uncabled-none.webp)!important

.pagination__list
    display: flex
    align-items: center
    justify-content: center
    max-width: 100%
    @media screen and ( max-width: 870px )
        flex-wrap: wrap

.pagination__item
    flex: 0 0 24px
    text-align: center
    display: flex
    align-items: center
    justify-content: flex-end
    margin: 12px
    padding: 2px
    height: 40px
    background-image: url(../images/symbol-block-black.webp)
    background-repeat: repeat-x
    background-position: top
    background-size: auto 36px
    filter: drop-shadow(0 10px 10px rgba(0,0,0, 1))
    &::before
        @extend %pseudo-symbols
        left: -2px
        background-image: url(../images/symbol-block-l.webp)
        background-repeat: no-repeat
        background-size: contain
        height: 36px
        @media screen and ( max-width: 570px )
            height: 42px
            
    &::after
        @extend %pseudo-symbols
        right: -5px
        background-image: url(../images/symbol-block-r.webp)
        background-repeat: no-repeat
        background-size: contain
        height: 36px
        @media screen and ( max-width: 570px )
            height: 42px
    %rewind
        letter-spacing: -5px
        transform: translateX(-5px)!important
        @media screen and ( max-width: 570px )
            transform: translateX(-10px)!important
            
    &:first-child a
        @extend %rewind
    &:last-child a
        @extend %rewind
    @media screen and ( max-width: 570px )
        flex: 0 0 30px
        padding: 0
        margin: 10px
        height: 42px
        background-size: auto 42px

.pagination__link
    font-size: 2.6em
    color: $green
    font-family: 'Digital'
    position: relative
    bottom: 2px
    right: -2px
    letter-spacing: 4px
    @extend %transition
    &:hover
        @extend %transition
        @extend %hover
        @extend %glow
    &.active
        color: $bright
    @media screen and ( max-width: 570px )
        font-size: 2em

// .single-post
.single__post
    width: $single-post-w-desktop
    margin: 0 auto
    height: 870px
    display: none
    position: relative
    bottom:80px

.single__block
    background: url(../images/single.webp)no-repeat center
    background-size: contain
    width: $single-post-w-desktop
    height: $single-post-h-desktop
    filter: drop-shadow(0 0 60px #24a400a3)
    position: relative
    display: flex
    align-items: center
    justify-content: center
    width: $single-post-w-desktop
    padding: 130px 100px
    display: none
    opacity: 0
    z-index: 1
    &::before
        @extend %pseudo-symbols
        width: 100px
        height: 60px
        background-repeat: no-repeat
        background-position: right center
        position: absolute
        top: 62px
        right: 68px
        z-index: 1
        background-size: 79px
        filter: drop-shadow(0 0 5px red)
    &.uploaded--0
        &::before
            background-image: url(../images/item-single-indicator-red-4.webp)
    &.uploaded--1
        &::before
            background-image: url(../images/item-single-indicator-red-3.webp)
    &.uploaded--2
        &::before
            background-image: url(../images/item-single-indicator-red-2.webp)
    &.uploaded--3
        &::before
            background-image: url(../images/item-single-indicator-red-1.webp)
    &.uploaded--4
        &::before
            background: none
    &.open
        display: block
        animation: open 1s ease-in-out forwards
    &.close
        transition: 0.5s ease-in-out
        animation: close 1s ease-in-out forwards

.post-thumbnail-single
    max-width: 100px

@keyframes open
    0%
        opacity: 0
    1%
        opacity: 0
        transform: translateY(100) scale(0)
    100%
        opacity: 1
        transform: translateY(-100px) scale(1)

@keyframes close
    0%
        opacity: 1
        transform: translateY(-100px) scale(1)
    99%
        opacity: 0
        transform: translateY(500px) scale(0.5)
    100%
        opacity: 0
        display: none

.single__nav
    position: absolute
    bottom: 73px
    width: 77px
    cursor: pointer
    opacity: 0.75
    transition: opacity 0.2s ease-in-out
    &:hover
        opacity: 1
        transition: opacity 0.2s ease-in-out

.single__nav.single__nav--prev
    left: -10px
.single__nav.single__nav--next
    right: -10px

.single__close
    position: absolute
    left: 120px
    top: 71px
    width: 54px
    opacity: 0.7
    transition: opacity 0.2s ease
    box-shadow: 0 0 60px black 
    &:hover
        cursor: pointer
        transition: opacity 0.2s ease
        opacity: 1

.content__taxonomy
    display: flex
    & .taxonomy:not(:last-child)
        margin-bottom: 40px
        margin-right: 40px
    @media screen and (max-width: 1000px)
        flex-wrap: wrap
        justify-content: space-between

        

taxonomy
    display: flex
    flex-direction: column

.taxonomy__title
    display: block
    color: $bright
    @extend %glow
    font-size: 0.8em
    font-family: 'Digital'
    background-image: url(../images/symbol-block-black.webp)
    margin-bottom: 10px
    padding: 0 5px
    display: flex
    align-items: center
    @media screen and ( max-width: 570px )
        min-height: 45px
    h2
        letter-spacing: 3px
        padding: 5px
    &:before
        @extend %pseudo-symbols
        right: 99%
        background-image: url(../images/symbol-block-l.webp)
        background-repeat: no-repeat
        background-size: contain
    &:after
        @extend %pseudo-symbols
        right: -5px
        background-image: url(../images/symbol-block-r.webp)
        background-repeat: no-repeat
        background-size: contain
        
.taxonomy__list
    display: inline-flex
    flex-direction: column 

.taxonomy__item
    position: relative
    margin-bottom: 5px
    &::after
        @extend %pseudo-symbols
        width: 100%
        background: $green
        opacity: 0.8
        filter: blur(10px)
        z-index: 1

.taxonomy__link
    display: inline-block
    color: $gray
    font-family: 'Digital'
    font-size: 1.1em
    @extend %transition
    filter: drop-shadow(0, 0, 20px, green)
    position: relative
    z-index: 2
    &:hover
        @extend %transition
        @extend %hover
        color: $bright-green

.processor
    display: flex
    height: 233px
    align-items: center
    justify-content: center
    flex: 1 1 auto

.processor__images
    position: relative
    margin: 0 auto
    width: 262px
    height: 100%
    img
        top: -39px 
        bottom:20px
    @media screen and ( max-width: 570px )
        width: 260px

.processor__image
    position: absolute
    top: -20px
    left: 0
    width: 100%
    height: 120%
    object-fit: contain

.processor__image--glow
    z-index: 2
    opacity: 0
    @extend %transition-slow
    &:hover
        opacity: 1
        @extend %transition-slow

//POST
.post
    padding: 47px
    display: grid
    align-items: start
    grid-template-columns: 1fr 50%
    position: relative
    bottom: 6px
    p
        font-size: 11px
        font-family: 'Verdana', monospace
        line-height: 120%
        
    &::after
        @extend %transition
        @extend %pseudo-symbols
        background: #0b9d0b
        height: 65%
        width: 80%
        right: 40px
        top: 39px
        filter: blur(20px)
        opacity: 0
        mix-blend-mode: hard-light
    &:hover .upload__value
        background: #76fe89
        @extend %transition-slow
        @media screen and ( max-width: 870px )
            background-color: #b9b9b9
            
    &:hover .upload
        background: white
        transition: 0.5s ease-in
        // OFF in MOB
        // @media screen and ( max-width: 870px )
        //     background-color: #696969
    &:hover::after
        @extend %transition-slow
        opacity: .8
        background: linear-gradient(219deg, rgba(32,255,46,1) 0%, rgba(255,255,255,0) 100%)
        // OFF in MOB
        // @media screen and ( max-width: 870px )
        //     background: transparent
        //     opacity: 0

.post__thumbnail
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    img
        width: 90%
        height: 90%
        object-fit: cover
    span
        color: white
        text-decoration: underline
        font-size: 14px
        display: inline-block
        z-index: 2
        &::after
            content:"->"

.post > *
    color: white
    line-height: 100%
    // font-family: 'VT323', monospace

.post__data
    padding: 5px 10px 5px 5px
    z-index: 2

.post__date
    color: $gray
    font-size: 13px
    margin-bottom: 4px

.post__name
    font-size: 18px
    margin-bottom: 10px
    color: white
    display: block

.post__info
    p
        &:first-child
            margin-bottom: 2px
// .upload
//     width: 100%
//     height: 4px
//     background-color: #696969
//     position: relative
//     margin-bottom: 2px
    
// .upload__value
//     position: absolute
//     left: 0
//     top: 0
//     width: 46%
//     height: 4px
//     background-color: #b9b9b9

.upload__stat
    margin-bottom: 16px
    line-height: 80%
    p
        &:first-child
            margin-bottom: 4px
        span
            color: $gray
            font-size: 11px
            line-height: 120%
            
// MATRIX
#c 
    position: absolute
    top: 0
    left: 0
    width: 100%
    z-index: -1